﻿<template>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th v-for="item in dataGridModel.headers" :key="item.columnName" scope="col">{{item.columnName}}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item, index) in dataGridModel.data" :key="item.id">
                <td v-for="(item, dataIndex) in dataGridModel.data[index]" :key="dataIndex">{{item}}</td>
            </tr>
        </tbody>
    </table>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { DataGridHeader, DataGridModel } from '../Models/DataGridModel';
    import axios from 'axios';

    @Component({
        props: {
            dataHeaders: {
                type: Array,
                required: true
            },
            endPoint: {
                type: String,
                required: true
            }
        },
        created: async function (this: DataGrid) {
            await this.fetch();
            this.dataGridModel.headers = this.headersProp;
            
        }
    })
    export default class DataGrid extends Vue {
        data;
        dataHeaders;
        endPoint;
        dataGridModel: DataGridModel = {
            data: [],
            headers: []
        };

        async fetch(): Promise<void> {
            try {
                const response = await axios.get<DataGridModel>(
                    this.endPointProp
                )
                this.dataGridModel.data = response.data.data;
                console.log(this.dataGridModel.data);
                //console.log(response.data);

            } catch (e) {
                console.log(e);
            }

        }

        get headersProp(): DataGridHeader[]  {
            return this.dataHeaders;
        }

        get endPointProp(): string {
            return this.endPoint;
        }
    }
</script>
