﻿<template>
    <data-grid :end-point="endPoint"
    :data-headers="headers"></data-grid>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { DataGridHeader } from '../Models/DataGridModel'
    import DataGridGK from './DataGrid.vue'

    @Component({
        components: {
            // Add Vue component locally to this component.
            'data-grid': DataGridGK
        }

    })
    export default class ProductElectronic extends Vue {
        headers: DataGridHeader[] = [
            {
                columnName: "Id"
            },
            {
                columnName: "Merek"
            },
            {
                columnName: "Suplier"
            }
            
        ];
        endPoint = "/api/books/getproducts";

        //listDataGridBooks: any = [];



    }
</script>
