﻿<template>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in dataGridBooks" :key="item.id">
                <td>{{item.author}}</td>
                <td>{{item.title}}</td>
            </tr>
        </tbody>
    </table>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import axios from 'axios';
    import { DataGridBooks } from '../Models/DataGridModel'

    @Component({
        created: async function (this: ProductBooks) {
            await this.fetch();
            console.log(this.getDataGridBooks);
            
        }
    })
    export default class ProductBooks extends Vue {
        dataGridBooks: DataGridBooks[] = [
            {
                author: "",
                id: 0,
                title: ""
            }
        ];

        //listDataGridBooks: any = [];
        get getDataGridBooks(): DataGridBooks[] {
            return this.dataGridBooks;
        }

        async fetch(): Promise<void> {
            try {
                const response = await axios.get<DataGridBooks[]>(
                    "/api/books/getbooks"
                )
                console.log(this.dataGridBooks);              
                console.log(response.data);
                this.dataGridBooks = response.data;
                console.log(this.dataGridBooks);
                 this.dataGridBooks.forEach(item => {
                    console.log(item.author);
                });
                //console.log(response.data);

            } catch (e) {
                console.log(e);
            }

        }



    }
</script>
