﻿<template>
    <form @submit="add()">
        <div class="form-group">
            <label for="exampleInputEmail1">Author</label>
            <input v-model="bookForm.author" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="author">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Title</label>
            <input v-model="bookForm.title" type="text" class="form-control" id="exampleInputPassword1" placeholder="title">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import axios from 'axios';
    import { BooksForm } from '../Models/DataGridModel'

    @Component({
    })
    export default class ProductBookForm extends Vue {
        bookForm: BooksForm = 
            {
                author: "",
                title: ""
            };
        message = "";
        async add(): Promise<void> {
            try {
                const response = await axios.post<string>(
                    "/api/books",
                    this.bookForm
                );
                if (response.data != null) {
                    this.message = response.data
                    window.alert(this.message);
                }

            } catch (e) {
                console.log(e);
            }

        }



    }
</script>
